<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ECG Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% include 'components/sidebar.html' %}
    <div class="main-content">
        <h1>ECG Analyzer</h1>
        <div class="sub-content">
        <p>
            Welcome to the <b>ECG Analyzer!</b> This feature is under development.
        </p>
        </div>
    </div>
</body>
</html>
