<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ECG Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% include 'components/sidebar.html' %}
    <div class="main-content">
        <h1>ECG Analyzer</h1>
        <div class="sub-content">
        <p>
            Welcome to the <b>ECG Analyzer!</b> This feature is under development.
        </p>
        </div>
    </div>
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ECG Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% include 'components/sidebar.html' %}
    <div class="main-content">
        <h1>ECG Analyzer</h1>
        <form action="{{ url_for('ecg_analyzer') }}" method="post" enctype="multipart/form-data" class="upload-form">
            <label for="file-upload" class="file-label"><h2>Upload ECG Report :</h2></label>
            <p>By uploading the ECG Report you can get if patient is having positive dieses or not !!</p>
            <input type="file" id="file-upload" name="file" accept=".jpg, .jpeg, .png" class="file-input" multiple>
            <button type="submit" class="upload-btn">Analyze</button>
        </form>
        {% if summary %}
            <div class="sub-content">
                <h2>Analysis Summary:</h2>
                <p id="markdown-content">{{ summary }}</p>
            </div>
        {% endif %}
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
